{% extends "teacher_app/base.html" %}
{% block content %}

<h2>课程信息</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">课程号</th>
      <th scope="col">课程名称</th>
      <th scope="col">学时数</th>
      <th scope="col">课程性质</th>
    </tr>
  </thead>

  <tr>
    <th scope="row">{{ course.id }}</th>
    <td>{{ course.name }}</td>
    <td>{{ course.total_hours }}</td>
    <td>{{ course.get_kind_display }}</td>
  </tr>
</table>

<h2>授课教师</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">职工号</th>
      <th scope="col">姓名</th>
      <th scope="col">授课年份</th>
      <th scope="col">授课学期</th>
      <th scope="col">学时数</th>
    </tr>

    {% for record in course.teachercourse_set.all %}
    <tr>
      <td scope="col">{{ record.teacher.id }}</td>
      <td>{{ record.teacher.name }}</td>
      <td>{{ record.year }}</td>
      <td>{{ record.get_semester_display }}</td>
      <td>{{ record.hours }}</td>
    </tr>
    {% endfor %}
  </thead>
</table>

{% endblock content %}
