{% extends "teacher_app/base.html" %}
{% block content %}

<div class="d-flex gap-5">
  <form method="POST" class="row row-cols-lg-auto g-3 align-items-center">
    {% csrf_token %}
    <div class="col-12">
      <input class="form-control" type="search" placeholder="课程号" name="id">
    </div>
    <div class="col-12">
      <input class="form-control" type="search" placeholder="课程名称" name="name">
    </div>
    <button class="btn btn-success" type="submit">搜索</button>
  </form>

  <a class="btn btn-primary" href="{% url 'course-add' %}" role="button">添加</a>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">课程号</th>
      <th scope="col">课程名称</th>
      <th scope="col">学时数</th>
      <th scope="col">课程性质</th>
      <th scope="col">操作</th>
    </tr>
  </thead>

    {% for course in course_list %}
    <tr>
      <th scope="row">{{ course.id }}</th>
      <td>{{ course.name }}</td>
      <td>{{ course.total_hours }}</td>
      <td>{{ course.get_kind_display }}</td>
      <td>
        <div class="btn-group" role="group">
          <a role="button" class="btn btn-primary" href="{% url 'course-detail' course.id %}" >详情</a>
          <a role="button" class="btn btn-warning" href="{% url 'course-update' course.id %}" >更新</a>
          <a role="button" class="btn btn-danger" href="{% url 'course-delete' course.id %}" >删除</a>
        </div>
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
