{% extends "teacher_app/base.html" %}

{% block content %}

{% include "teacher_app/filter_accordion.html" %}

<hr>

<div>
  <a class="btn btn-outline-primary my-2" href="{% url "course-add" %}" role="button">+ 添加课程</a>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">课程号</th>
        <th scope="col">课程名称</th>
        <th scope="col">学时数</th>
        <th scope="col">课程性质</th>
        <th scope="col">操作</th>
      </tr>
    </thead>

      {% for course in course_list %}
      <tr>
        <td scope="row">{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.total_hours }}</td>
        <td>{{ course.get_kind_display }}</td>
        <td>
          <a role="button" class="btn btn-primary" href="{% url "course-detail" course.id %}" >详情</a>
          <a role="button" class="btn btn-warning" href="{% url "course-update" course.id %}" >更新</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-name="课程 {{ course }}" data-bs-href="{% url "course-delete" course.id %}">删除</button>
        </td>
      </tr>
      {% endfor %}
  </table>
</div>

{% include "teacher_app/delete_modal.html" %}

{% endblock %}
