{% extends "teacher_app/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<form method="POST">
  {% csrf_token %}

  <h2>课程信息</h2>

  {% bootstrap_form form layout="horizontal" %}

  <h2>授课教师</h2>

  <table class="table">
    {{ formset.management_form }}

    {% for form in formset.forms %}
    {% if forloop.first %}
    <thead>
      <tr>
        {% for field in form.visible_fields %}
        <th>{{ field.label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr class="formset_row">
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
          <td>
            {% bootstrap_field field show_label=False %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% bootstrap_formset_errors formset %}

  <div class="mb-3">
    <button id="add-more" class="btn btn-primary" type="button">添加教师</button>
  </div>

  <div class="auto-me">
    <button class="btn btn-primary" type="submit">确认</button>
    <button class="btn btn-primary" type="reset">重置</button>
  </div>
</form>

{% endblock content %}
