{% load django_bootstrap5 %}

<div class="accordion" id="filter-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter-accordion-body" aria-expanded="true" aria-controls="collapse">
        <strong>搜索条件</strong>
      </button>
    </h2>
    <div id="filter-accordion-body" class="accordion-collapse collapse show" data-bs-parent="#filter-accordion">
      <div class="accordion-body">
        <form method="get">
          <div class="row g-3 my-2 align-items-end">
            {% for field in filter.form %}
            {% bootstrap_field field wrapper_class="col-auto my-2" server_side_validation=False %}
            {% endfor %}

            <div class="col-auto my-2">
              <button class="btn btn-success" type="submit">搜索</button>
            </div>
            <div class="col-auto my-2">
              <button class="btn btn-secondary" type="reset">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
