{% extends "teacher_app/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<form method="POST">
  {% csrf_token %}

  <h3>{{model_name}}信息</h3>

  <div class="mt-3">
    {% bootstrap_form form layout="horizontal" %}
  </div>

  <hr>

  <h3>教师列表</h3>

  <table class="table table-hover my-3" id="formset">
    {{ formset.management_form }}

    <thead>
      <tr>
        {% for field in formset.empty_form.visible_fields %}
          <th>{{ field.label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for form in formset.forms %}
        <tr>
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <td>
              {% bootstrap_field field wrapper_class="my-1" show_label=False %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}

      <tr hidden>
        {% for hidden in formset.empty_form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in formset.empty_form.visible_fields %}
          <td>
            {% bootstrap_field field wrapper_class="my-1" show_label=False %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  {% bootstrap_formset_errors formset %}

  <div class="mb-3">
    <button id="add-more" class="btn btn-outline-primary" type="button">+ 添加教师</button>
  </div>

  <script>
    const addMoreBtn = document.querySelector("#add-more")

    let totalForms = document.querySelector("#formset input")
    let emptyForm = document.querySelector("#formset tr[hidden]:last-child")

    addMoreBtn.addEventListener("click", (e) => {
      e.preventDefault()

      let formNum = parseInt(totalForms.value)
      let newForm = emptyForm.cloneNode(true)
      newForm.removeAttribute("hidden")
      newForm.innerHTML = newForm.innerHTML.replaceAll("__prefix__", `${formNum}`)
      emptyForm.parentElement.insertBefore(newForm, emptyForm)
      totalForms.setAttribute('value', `${formNum + 1}`)
    })
  </script>

  <div>
    <button class="btn btn-primary" type="submit">确认</button>
    <button class="btn btn-secondary" type="reset">重置</button>
  </div>
</form>

{% endblock content %}
