<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom mb-2">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">教师教学科研管理系统</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'teacher' %}active{% endif %}" href="{% url 'teacher' %}">教师</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'course' %}active{% endif %}" href="{% url 'course' %}">课程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'project' %}active{% endif %}" href="#">项目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'paper' %}active{% endif %}" href="#">论文</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
