{% extends "teacher_app/base.html" %}

{% block content %}

{% include "teacher_app/filter-accordion.html" %}

<hr>

<div>
  <a class="btn btn-outline-primary my-2" href="{% url "project-add" %}" role="button">+ 添加项目</a>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">项目号</th>
        <th scope="col">项目名称</th>
        <th scope="col">项目来源</th>
        <th scope="col">项目类型</th>
        <th scope="col">总经费</th>
        <th scope="col">开始年份</th>
        <th scope="col">结束年份</th>
        <th scope="col">操作</th>
      </tr>
    </thead>

      {% for project in project_list %}
      <tr>
        <td scope="row">{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.source }}</td>
        <td>{{ project.get_kind_display }}</td>
        <td>{{ project.total_fund }}</td>
        <td>{{ project.start_year }}</td>
        <td>{{ project.end_year }}</td>
        <td>
          <a role="button" class="btn btn-primary" href="{% url "project-detail" project.id %}" >详情</a>
          <a role="button" class="btn btn-warning" href="{% url "project-update" project.id %}" >更新</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-name="项目 {{ project }}" data-bs-href="{% url "project-delete" project.id %}">删除</button>
        </td>
      </tr>
      {% endfor %}
  </table>
</div>

{% include "teacher_app/delete-modal.html" %}
{% endblock %}
