{% extends "teacher_app/base.html" %}
{% block content %}

<h2>教师基本信息</h2>

<p>工号：{{teacher.id}}</p>
<p>姓名：{{teacher.name}}</p>
<p>性别：{{teacher.get_gender_display}}</p>
<p>职称：{{teacher.get_title_display}}</p>

<h2>教学情况</h2>

<div class="d-flex gap-5">
  <form method="POST" class="row row-cols-lg-auto g-3 align-items-center">
    {% csrf_token %}
    <div class="col-12">
      <input class="form-control" type="search" placeholder="工号" name="id">
    </div>
    <button class="btn btn-success" type="submit">搜索</button>
  </form>

  <a class="btn btn-primary" href="{% url 'teacher-add' %}" role="button">添加</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">工号</th>
      <th scope="col">姓名</th>
      <th scope="col">性别</th>
      <th scope="col">职称</th>
      <th scope="col">详情</th>
    </tr>
  </thead>

  <tr>
    <th scope="row">{{ teacher.id }}</th>
    <td>{{ teacher.name }}</td>
    <td>{{ teacher.get_gender_display }}</td>
    <td>{{ teacher.get_title_display }}</td>
    <td><a class="btn btn-primary" href="{% url 'teacher-detail' teacher.id %}" role="button">查看</a></td>
  </tr>
</table>

{% endblock content %}
